<!DOCTYPE html>
<html>
<head>
  <!-- no css here, but structure like this: <link rel="stylesheet" type="text/css" href="styles.css" -->
<style>
  body {
  background-color: <%=@person.color%>
}
</style>
</head>
<body>

<div style= "background-color: #37378e">
  <br>
<h1 style="text-align:center; color: #fff"> Only <%=@person.days_to_next_birthday%> day<%=@plural%> until your birthday <%=@person.name%>! </h1> <br>

<p style= "text-align:center; color: #fff"> Your last birthday was <%=@person.days_since_past_birthday%> days ago </p> <br>

<% if @person.name.downcase == "cat" %>
<center> <img src="http://bit.ly/1eze8aE" alt="Wahoo"> </center> <br>
<% end%>
</div>

</body>
</html>
